<configuration>  
   <runtime>  
      	<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"> 
      		<dependentAssembly> 
         		<assemblyIdentity name="calc" publicKeyToken="54ed18e90164065e" culture="neutral"/>
         		<bindingRedirect oldVersion="0.0.0.0" newVersion="1.0.0.0"/>
         	</dependentAssembly>  
      	</assemblyBinding>  
   </runtime>  
</configuration>