@model wddn_online_shopping.view_model.customer_view_model

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="customer_name" class="control-label"></label>
                <input asp-for="customer_name" class="form-control" />
                <span asp-validation-for="customer_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="customer_email" class="control-label"></label>
                <input asp-for="customer_email" class="form-control" />
                <span asp-validation-for="customer_email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="customer_password" class="control-label"></label>
                <input asp-for="customer_password" class="form-control" />
                <span asp-validation-for="customer_password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="customer_confirm_password" class="control-label"></label>
                <input asp-for="customer_confirm_password" class="form-control" />
                <span asp-validation-for="customer_confirm_password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="customer_mobile_no" class="control-label"></label>
                <input asp-for="customer_mobile_no" class="form-control" />
                <span asp-validation-for="customer_mobile_no" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="customer_address" class="control-label"></label>
                <textarea asp-for="customer_address" class="form-control"></textarea>
                <span asp-validation-for="customer_address" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="customer_image" class="control-label"></label>
                <input asp-for="customer_image" class="form-control" />
                <span asp-validation-for="customer_image" class="text-danger"></span>
            </div>*@
            <div class="form-group">

                <label asp-for="customer_image" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="customer_image" class="form-control custom-file-input" />
                    <label class="custom-file-label">Seller image</label>
                </div>
                <span asp-validation-for="customer_image" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
