
@using (Html.BeginForm())
{
<label for="number1" title="number1">
   number1 <input type="number" name="number1" />
</label>
<label for="number2" title="number2">
    number2 <input type="number" name="number2" />
</label>
<input type="submit" />
@ViewBag.sum

}