@model wddn_online_shopping.Models.model_class.item_detail

@Html.Partial("_partial_view", "seller");

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>Edit</h1>

<h4>item_detail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="product_id" />
            <input type="hidden" asp-for="seller_id" />

            <div class="form-group">
                <label asp-for="product_name" class="control-label"></label>
                <input readonly asp-for="product_name" class="disabled form-control" />
                <span asp-validation-for="product_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_quantity" class="control-label"></label>
                <input asp-for="product_quantity" class="form-control" />
                <span asp-validation-for="product_quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_price" class="control-label"></label>
                <input asp-for="product_price" class="form-control" />
                <span asp-validation-for="product_price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_description" class="control-label"></label>
                <textarea asp-for="product_description" class="form-control"></textarea>
                <span asp-validation-for="product_description" class="text-danger"></span>
            </div>

            <div class="form-group">
                @{var product_image_path = "/product_image/" + Model.product_image;
                }
                <img class="card-img-top" style="height:100px;width:100Px" src="@product_image_path" alt="Card image cap">
                <input asp-for="product_image" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Homepage" asp-controller="sellers" class=" btn btn-success">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
