@model wddn_online_shopping.Models.model_class.customer_cart_item

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>customer_cart_item</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
