<!DOCTYPE html>
@inject SignInManager<customer_identity> signinmanager
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - All Shopping</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/navigation_bar.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="side-bar1" id="mySidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <br><hr>
        <a class="nav-link " asp-controller="sellers" asp-action="HomePage">Home</a>
        <br><hr>
        <a class="nav-link " asp-controller="item_detail" asp-action="Create">Add new item</a>
        <br><hr>
        <a class="nav-link " asp-controller="sellers" asp-action="order_detail">Order detail</a>
    </div>
    <header>
        <nav class="navbar navbar-expand-sm navbar1">
            <span style="color:white;font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">All Shopping<div style="font-size:10px">Seller</div></a>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    @if (signinmanager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-page="" title="Manage">Hello @User.Identity.Name</a>
                        </li>
                        <li class="nav-item">
                            <form class="form-inline" asp-controller="sellers" asp-action="Logout">
                                <button type="submit" class="nav-link btn btn-link ">Logout</button>
                            </form>
                        </li>
                    }
                    else
                    {

                        <li class="nav-item">
                            <a class="nav-link " asp-controller="sellers" asp-action="Create">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-controller="sellers" asp-action="login_seller">Login</a>
                        </li>
                    }
                </ul>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - wddn_online_shopping - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
