@{
    ViewData["Title"] = "Home Page";
}
<a class="btn btn-primary" asp-controller="Customers" asp-action="Create">Create New Customer</a>
<br>
<br>
<a class="btn btn-primary" asp-controller="Products" asp-action="Create">Create New Product</a>
<br>
<br>
<a class="btn btn-primary" asp-controller="Orders" asp-action="Create">Create New Order</a>
<br>
<br>
<a class="btn btn-primary" asp-controller="Orders" asp-action="">View All Orders</a>
<br>
